body {
  font-family: 'Abel', sans-serif;
}

.navbar {
  font-family: 'Abel';
  margin-bottom: 0;
  font-size:20px;
}

.navbar-brand {
  font-size:25px;
}

/* PAGE HEAD */

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  padding-top: 20px;
}

.jumbotron .container {
  max-width: 40rem;
}

.logo {
  width:45%;
}

/* PAGE BODY */

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-bottom: 3rem;
}

.row{
  padding-bottom:2rem;
}

.card {
  /*border:1px solid black;*/
  height:15rem;
  border-radius:0;
}

.card-title {
  text-align:center;
  font-size:60px;
  margin-top:5rem;
  font-family:'Abel';
  font-weight:bold;
}

.card-img{
  height:15rem;
}

.card-blockquote{
  font-size:20px;
  color:black;
  margin-top:5rem;
}

.sm {
  border:none;
}

/* PAGE FOOTER */

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
